@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --bg-color: #0D0B21;
 --container-color: #15132B;
 --todoBox-color: #211A75;
 --purple: #7879F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 max-width: 1400px;
 min-height: 100vh;
 /* background-color: var(--bg-color); */
}

.icons{
  width: 20px;
  height: 20px;
}
